:root {
  --background: #ededed;
  --foreground: #171717;
  --background-navbar: #000000;
  --background-card: #ffffff;
  --border-default: 1px solid #cccccc;
  --font-color-navbar: #ffffff;
  --font-color-card-header: #ffffff;
  --font-color-card-body: #000000;
  --primary: #d9181d;
}

[data-theme="dark"] {
  --background: #2b2c29;
  --foreground: #171717;
  --background-navbar: #000000;
  --background-card: #161716;
  --border-default: 1px solid #ffffff;
  --font-color-navbar: #ffffff;
  --font-color-card-header: #ffffff;
  --font-color-card-body: #ffffff;
  --primary: #d9181d;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #2b2c29;
    --foreground: #171717;
    --background-navbar: #000000;
    --background-card: #161716;
    --border-default: 1px solid #ffffff;
    --font-color-navbar: #ffffff;
    --font-color-card-header: #ffffff;
    --font-color-card-body: #ffffff;
    --primary: #d9181d;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.card-wrapper {
  padding: 32px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: space-between;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.navbar {
  background: var(--background-navbar);
  color: var(--font-color-navbar);
  padding: 8px 32px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 54px;
  @media (max-width: 600px) {
    flex-direction: column;
    min-height: 88px;
  }
  .links-wrapper {
    display: flex;
    width: 100%;
    max-width: 300px;
    justify-content: space-between;
    max-height: 100%;
    margin-bottom: -22px;
    @media (max-width: 600px) {
      margin-bottom: -8px;
    }
    .links {
      list-style-type: none;
      position: relative;
      min-height: 32px;
    }
  }

  .active-link {
    background: var(--primary);
    display: flex;
    height: 4px;
    width: 140%;
    position: absolute;
    bottom: 0px;
    left: -20%;
  }

  .theme-toggle {
    list-style-type: none;
    margin-top: -4px;
    cursor: pointer;
  }
}

.card-full {
  display: flex;
  width: 100%;
  min-width: 300px;
  flex-direction: column;
  @media (max-width: 1024px) {
    max-width: 47%;
  }
  @media (max-width: 600px) {
    max-width: 100%;
  }
  .card-header {
    background: var(--primary);
    color: var(--font-color-card-header);
    font-weight: 600;
    padding: 8px 16px;
    cursor: grab;
    user-select: none;
  }
  .card-body {
    font-weight: 400;
    padding: 16px;
    background: var(--background-card);
    border-right: var(--border-default);
    border-left: var(--border-default);
    border-bottom: var(--border-default);
    min-height: 80px;
    user-select: none;
    display: flex;
    align-items: center;
    color: var(--font-color-card-body);
  }
}

.card {
  display: flex;
  width: 100%;
  max-width: 24%;
  min-width: 300px;
  flex-direction: column;
  z-index: 100;
  @media (max-width: 1024px) {
    max-width: 47%;
  }
  @media (max-width: 600px) {
    max-width: 100%;
  }
  .card-header {
    background: var(--primary);
    color: var(--font-color-card-header);
    font-weight: 600;
    padding: 8px 16px;
    cursor: grab;
    user-select: none;
  }
  .card-body {
    font-weight: 400;
    padding: 16px;
    background: var(--background-card);
    border-right: var(--border-default);
    border-left: var(--border-default);
    border-bottom: var(--border-default);
    min-height: 300px;
    user-select: none;
    color: var(--font-color-card-body);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .card-button {
    border-top: 0px;
    border-right: var(--border-default);
    border-left: var(--border-default);
    border-bottom: var(--border-default);
    height: 48px;
    width: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .card-active-button {
    background: #3FAE2B;
    color: #FFF;
    font-weight: 600;
  }
}

.pointer {
  cursor: pointer;
}
